.khungsp{
	margin-top: 1%; 
	margin-bottom: 1%; 
	height: 280px;
}
.tieude{
	height: 40px;
}
.sp{
	width:245px; 
	height: 250px;
	margin-left:10px; 
	margin-right: 10px; 
	margin-top: 10px;
	border: ridge 3px green;
	box-shadow: -5px -3px 5px;
	float: left;
	border-radius: 10px;
}
.sp img{
	border-radius: 10px 10px 0px 0px;
	width: 239px;
	height: 160px;
}
.sp img hover{
	width: 300px;
	height: 200px;
}
.tieudesp{
	width:240px;
	height: 75px;
	margin-top:0px;
	border-radius: 0px 0px 10px 10px;
}
.tieudesp div{
	width: 240px;
	height: 40px;
	background: red;
}

.bsp img{
	width: 250px; 
	height: 190px;
	border-radius: 10px 10px 0px 0px;
}
.tdl{
	text-align: left;
	margin-left: 10px;
	margin-top: 5px;
	font-size: 20px; 
	font-weight: 700; 
	font-family: 'roboto';
	}

.tdr{
	margin-left: 80%;
	margin-top: -2.5%;
	font-size: 25px; 
	font-weight: 700; 
	font-family: 'roboto';
	}