@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

.wrap {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  padding:0;
}
.wrap > * {
  display: block;
  max-width: 100%;
}

.read-more {
  position: relative;
  color: #34495e;
  text-decoration: none;
  cursor: text;
}
.read-more .trigger {
  display: block;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  color: red;
  font-weight: bold;
	left: 40%;
}
.read-more .collapse {
  display: none;
}
.read-more .content {
  position: relative;
  overflow: hidden;
  max-height: 6.72em;
  -webkit-transition: max-height 300ms ease;
  transition: max-height 300ms ease;
}
.read-more .content::before {
  content: '';
  -webkit-transition: opactiy 300ms ease, visibility 300ms ease;
  transition: opactiy 300ms ease, visibility 300ms ease;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), #ffffff, #ffffff);
  background-image: linear-gradient(rgba(0, 0, 0, 0), #ffffff, #ffffff);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.36em;
}
.read-more.expanded .content {
  max-height: 900px;
}
.read-more.expanded .content::before,
.read-more.expanded .trigger {
  opacity: 0;
  visibility: hidden;
}
.read-more.expanded .collapse {
  display: block;
  bottom: 0;
  cursor: pointer;
  color: red;
  font-weight: bold;
margin-left: 40%;
	
}
