.tindang{
	width: 100%;
}
.tindang tr td{
	color: black;
	font-size: 22px;
	padding-top: 10px;
	padding-left: 15px;
	text-align: left;
	height: 35px;
}
.tindang tr td span{
	color: red;
}
.tindang tr td input{
	color: black;
	border-radius: 5px;
	
	font-family: 'roboto';
	text-align: center;
	height: 35px;
	border-color: #009688;

}
.tindang tr td input:hover{
	transition-duration: 0.1s;
	background-color: white;
	color: black;
	font-style:bold; ;
	border-color: red;
	border-width: 4px;
}
.tindang tr td input:focus{
	background-color: white;
	color: black;
		
		border-color: green;
	border-width: 4px;;
}

.tindang tr td select{
	color: black;
	border-radius: 5px;
	font-family: 'roboto';
	text-align: center;
	height: 43px;
	border-color: green;
}
.tindang tr td select:hover{
	transition-duration: 0.1s;
	background-color: white;
	color: black;
	font-style: bold;
	border-width: 2px;
	border-color: red;
}
.tindang tr td select:focus{
	background-color: white;
	color: black;
	border-width: 2px;
	border-color: green;
	}


.tindang tr td textarea{
	color: white;
	border-radius: 5px;
	font-family: 'roboto';
	text-align: left;
	width: 100%;
	height: 200px;
	border-color: green;
	padding: 5px;
}
.tindang tr td textarea:hover{
	transition-duration: 1s;
	background-color: white;
	color: black;

}
.tindang tr td textarea:focus{
	background-color: white;
	color: black;
	box-shadow: 2px 2px 3px 2px;
}