.tindang{
	width: 100%;

}
.tindang input{
	width: 96.60%;
}
.tindang select{
	width: 96.60%;
}
.khung div i{
	color: red;
}
.khung{
	border: 2px dotted black;
	border-radius: 7px;
	margin-left: 2%;
	padding: 2%;
	margin-bottom: 4px;
	margin-top: 4%;
	font-size: 15px;
	box-shadow: -10px -10px 30px 10px grey;
	width: 97%;
	background: white;/*#70AEAF;*/
}
.khung select,option{
	margin-left: 3%;
	text-align: center;
}
.khung textarea{
	margin-left: 3%;
	margin-bottom: 2px;
	text-align: center;
}

.khung input{
	color: black;
	font-size: 15px;
	margin-left: 3%;
	text-align: center;
}
.khung input:focus{
	border-bottom:2px solid green;
	transition-duration: 0.1s;
}
.khung textarea:focus{
	border-bottom:2px solid green;
	transition-duration: 0.1s;
}
.khung div h2{
	font-size: 25px;
}
.tindang h1{
	font-family: 'roboto';
	color: red;
	font-size: 40px;
	font-weight: 900;
	text-align: center;
	height: 35px;
	margin-top: 1%;
	margin-bottom: 3%;
}
.tindang h2{
	font-family: 'roboto';
	color: black;
	font-size: 18px;
	font-weight: 900;
	text-align: left;
	height: 35px;
	padding-top: 2%;
	margin-bottom: 4%;
}
.tindang tr td span{
	color: red;
}
.tindang tr td input{
	color: black;
	border-radius: 5px;
	font-family: 'roboto';
	text-align: center;
	height: 35px;
	border-color: #009688;

}
.tindang tr td input:hover{
	transition-duration: 0.1s;
	background-color: white;
	color: black;
	font-style:bold; ;
	border-color: red;
	border-width: 4px;
}
.tindang tr td input:focus{
	background-color: white;
	color: black;
		
	border-color: green;
	border-width: 1px;;
}

.tindang tr td select{
	color: black;
	border-radius: 5px;
	font-family: 'roboto';
	text-align: center;
	height: 43px;
	border-color: green;
}
.tindang tr td select:hover{
	transition-duration: 0.1s;
	background-color: white;
	color: black;
	font-style: bold;
	border-width: 2px;
	border-color: red;
}
.tindang tr td select:focus{
	background-color: white;
	color: black;
	border-width: 2px;
	border-color: green;
	}


.tindang tr td textarea{
	color: white;
	border-radius: 5px;
	font-family: 'roboto';
	text-align: left;
	width: 100%;
	height: 200px;
	border-color: green;
	padding: 5px;
}
.tindang tr td textarea:hover{
	transition-duration: 1s;
	background-color: white;
	color: black;

}
.tindang tr td textarea:focus{
	background-color: white;
	color: black;
	box-shadow: 2px 2px 3px 2px;
}